<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hirschhorn</title>
    {% include 'burger.js.html' %}
    {% include 'onlogout.js.html' %}
    <script>
        function parseHashFragment(fragment) {
            if (fragment.startsWith("#")) {
                fragment = fragment.substring(1);
            }
            const result = {};
            const pairs = fragment.split("&");
            for (const pair of pairs) {
                const [key, value] = pair.split("=");
                result[decodeURIComponent(key)] = decodeURIComponent(value || "");
            }
            return result;
        }
        (function storeKeeneJwtFromHash() {
            const hash = window.location.hash;
            var return_state = "";
            if (return_state = parseHashFragment(window.location.hash).state) {
                return_state = return_state.substring(1);
                console.log("return_state", return_state);
            }
            const match = hash.match(/[&#]id_token=([^&]+)/);
            if (!match) return;
            const jwt = decodeURIComponent(match[1]);
            document.cookie = `keene_jwt=${jwt}; path=/; secure; samesite=strict; max-age=86400`;
            const trimmed_url = window.location.href.replace(hash, "");
            window.location.href = trimmed_url + (return_state ? return_state : "");
        })();
    </script>
</head>

<body>
    {% include 'burger.html' %}
    <h1>Welcome to the Hirschhorn Collection</h1>
</body>

</html>